<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.salem.domain.Mapper.PaymentMapper">
	
	<select id="showDetailPayment" resultType="PaymentVO" parameterType="int">
		SELECT pay.paymentNo, s.sitterNo, t.sittingType, s.sitterName, s.sitterPhone, s.sitterAddress, 
				u.userName, u.userAddress, p.petNo, p.petName, b.dogBreed, b.size, pay.startTime, 
				pay.endTime, pay.request, pay.paymentMethod, pay.amount, pay.paymentDate  
		FROM USERS u
		INNER JOIN PET p ON p.userNo = u.userNo
		INNER JOIN BREED b ON b.breedNo = p.breedNo
		INNER JOIN reservation r ON p.petNo = r.petNo
		INNER JOIN payment pay ON pay.paymentNo = r.paymentNo
		INNER JOIN SITTER s ON s.sitterNo = pay.sitterNo
		INNER JOIN SITTING_TYPE t ON t.sittingNo = s.sittingNo
		WHERE pay.paymentNo=#{paymentNo}
	</select>
	
	<insert id="addPayment" parameterType="PaymentVO">
		INSERT INTO payment (sitterNo, startTime, endTime, request,  
							paymentStatus, amount, paymentDate, paymentMethod, refundStatus, reviewStatus)
		VALUES (#{sitterNo}, #{startTime}, #{endTime}, #{request}, 1, #{amount},
				sysdate(), 'kakapay', 0, 0)
	</insert>
	
	<select id="showUserPayment" resultType="PaymentVO" parameterType="int">
		SELECT pay.paymentNo, s.sitterNo, t.sittingType, s.sitterName, s.sitterPhone, s.sitterAddress, 
				u.userNo, u.userName, u.userAddress, p.petNo, p.petName, b.dogBreed, b.size, pay.startTime, pay.endTime, pay.request, 
				pay.paymentMethod, pay.amount, pay.paymentStatus , pay.refundStatus, pay.reviewStatus, pay.paymentDate
		FROM USERS u
		INNER JOIN PET p ON p.userNo = u.userNo
		INNER JOIN BREED b ON b.breedNo = p.breedNo
		INNER JOIN reservation r ON p.petNo = r.petNo
		INNER JOIN payment pay ON pay.paymentNo = r.paymentNo
		INNER JOIN SITTER s ON s.sitterNo = pay.sitterNo
		INNER JOIN SITTING_TYPE t ON t.sittingNo = s.sittingNo
		WHERE u.userNo = #{userNo}
	</select>
	
	<select id="showPaymentNo" resultType="PaymentVO" parameterType="PaymentVO">
		SELECT paymentNo
		FROM payment
		WHERE sitterNo = #{sitterNo}
		AND startTime = #{startTime}
		AND endTime = #{endTime}
	</select>
	
	<insert id="addReservation" parameterType="int">
		INSERT INTO reservation (petNo, paymentNo)
		VALUES (#{petNo}, #{paymentNo})
	</insert>
	
	<update id="updateReviewStatus" parameterType="int">
		UPDATE payment
		SET reviewStatus = 1
		WHERE paymentNo = #{paymentNo}
	</update>
	
</mapper>
